.form-block {
    display: block;
    overflow: hidden;
    width: 100%;
}

.fade:not(.show) {
    display: none;
}

.modal-xl {
    max-width: 90% !important;
    width: 90% !important;
}

.label_filter {
    text-align: left;
    display: none !important;
    overflow: hidden;
}

.box-filtros .filtro {
    display: block;
    overflow: hidden;
    margin-left: 5px;
}

.arbenef {
    width: 80px;
}

li.nav-item li.nav-item {
    padding-left: 10px;
}

.table th,
.table td {
    padding: 0.50rem;
}

/*
#DTTableMyTask th,
#DTTableMyTask td {
    padding: 0.25rem;
}
*/

#DTTableMyTask_paginate {
    display: none;
}

.table .form-control:disabled,
.table .form-control[readonly],
.readonly:disabled,
.readonly[readonly] {
    background-color: transparent !important;
    border: none !important;
}

/* Navbar badge */
.badge.navbar-badge {
   font-size: .6rem !important;
   font-weight: 300 !important;
   padding: 2px 4px !important;
   position: absolute;
   right: 5px;
   top: 9px;
}
.main-header .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.main-header .dropdown-menu-lg {
    max-width: 300px !important;
    min-width: 280px !important;
    padding: 0 !important;
}

.main-header .dropdown-item {
    font-size: 0.89rem;
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.main-header .dropdown-header,
.main-header .dropdown-footer {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center;
}

.select2-results__option {
    background-color: #adb5bd;
    color: #000000;
}
