.form-block {
    display: block;
    overflow: hidden;
    width: 100%;
}

.fade:not(.show) {
    display: none;
}

.modal-xl {
    max-width: 90% !important;
    width: 90% !important;
}

.label_filter {
    text-align: left;
    display: none !important;
    overflow: hidden;
}

.box-filtros .filtro {
    display: block;
    overflow: hidden;
    margin-left: 5px;
}

.arbenef {
    width: 80px;
}

li.nav-item li.nav-item {
    padding-left: 10px;
}

/*
.table th,.table td {
    padding: 0.50rem !important;
}
*/

.table thead > tr > th {
    background-color: #c5c5c5;
    background-image: -webkit-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image: -moz-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image: -o-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image: -ms-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image: linear-gradient(top,#f9f9f9,#e3e4e6);
}

/*
#DTTableMyTask th,
#DTTableMyTask td {
    padding: 0.25rem;
}
*/

#DTTableMyTask_paginate {
    display: none;
}

.table .form-control:disabled,
.table .form-control[readonly],
.readonly:disabled,
.readonly[readonly] {
    background-color: transparent !important;
    border: none !important;
}

.table .column_mini_actions {
    width: 100px !important;
    padding-left: 5px;
    padding-right: 5px;
}

/* Navbar badge */
.badge.navbar-badge {
   font-size: .6rem !important;
   font-weight: 300 !important;
   padding: 2px 4px !important;
   position: absolute;
   right: 5px;
   top: 9px;
}
.main-header .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.main-header .dropdown-menu-lg {
    max-width: 300px !important;
    min-width: 280px !important;
    padding: 0 !important;
}

.main-header .dropdown-item {
    font-size: 0.89rem;
    display: block;
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.main-header .dropdown-header,
.main-header .dropdown-footer {
    display: block;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-align: center;
}

.select2-results__option {
    background-color: #adb5bd;
    color: #000000;
}

.select2-container--bootstrap4 .select2-selection__clear {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.0em;
    padding-left: .25em;
    margin-top: .5em;
    border-radius: 100%;
    background-color: red;
    color: #f8f9fa;
    float: right;
    margin-right: .3em;
    font-weight: bolder;
}

.select2-container--bootstrap4 .select2-purple .select2-selection--multiple .select2-selection__choice,
.select2-purple .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    background-color: #6f42c1;
    border-color: #643ab0;
    color: #fff;
}
.select2-container--bootstrap4 .select2-purple .select2-selection--multiple .select2-selection__choice__remove,
.select2-purple .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255,255,255,.7);
}

.info-box .info-box-link {
    color: #fff !important;
    text-decoration: none;
}

.info-box.bg-light .info-box-link,
.info-box.bg-orange .info-box-link,
.info-box.bg-lime .info-box-link,
.info-box.bg-warning .info-box-link {
    color: #000 !important;
    text-decoration: none;
}


/*Custom Fileinputs start*/
.custom-file-input input[type=file] { display: none; }
.custom-file-input .inputfile + label { max-width: 100%; font-size: 14px; font-weight: 500; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; padding: 8px 12px; margin-bottom: 0; height: 36px; border:1px solid var(--theme-co) }
.custom-file-input .inputfile + label .fa { margin-right: 10px; }
